.env

dokuwiki/config/

games/

homer/assets/

kavita/config
kavita/media

monica/data
monica/mysql

nextcloud/data

nginx-proxy-manager/data
nginx-proxy-manager/letsencrypt

onlyoffice/data

pihole/etc-data
pihole/etc-dnsmasq.d

softserve/data

trilium/trilium